<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <a href="add/">Add User</a>
    <br><br>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>EMAIL</th>
            <th>PASSWORD</th>
            <th>IMAGE</th>
            <th>EDIT</th>
            <th>DELETE</th>
        </tr>
        <% for(var i=0; i< results.length; i++){ %>
            <tr>
                <td><%= results[i].id %></td>
                <td><%= results[i].name %></td>
                <td><%= results[i].email %></td>
                <td><%= results[i].password %></td>
                <td><img src="<%= results[i].image %>" alt="" height="100px" width="100px"></td>
                <td><a href="edit/<%= results[i].id %>" id="">EDIT</a></td>
                <td><a href="delete/<%= results[i].id %>">DELETE</a></td>
            </tr>    
        <% } %>
    </table>
    
</body>
</html>